{% if live %}
{% if timeout_team %}
<div class="timeout-box" style="border-color:{{ timeout_team.primary_color or '#5b9dff' }};">
    <span class="timeout-team" style="color:{{ timeout_team.primary_color or '#5b9dff' }};">{{ timeout_team.name }} timeout</span>
    <span class="timeout-secs" id="timer">{{ timeout_seconds_left }}s</span>
</div>
{% elif is_paused %}
<div class="tv-timer" id="timer">PAUSED</div>
{% else %}
<div class="tv-timer {{ 'tv-timer-low' if seconds_left is not none and seconds_left <= 30 }}" id="timer">{{ seconds_left }}s</div>
{% endif %}
{% endif %}
